NowTryUrTrip/.settings/org.eclipse.wst.common.project.facet.core.xml
NowTryUrTrip/.settings/org.eclipse.wst.common.component
NowTryUrTrip/.project
NowTryUrTrip/.settings/org.eclipse.wst.jsdt.ui.superType.name
NowTryUrTrip/.settings/org.eclipse.wst.jsdt.ui.superType.container
NowTryUrTrip/.classpath
NowTryUrTrip/.settings/.jsdtscope
NowTryUrTrip/.settings/org.eclipse.jdt.core.prefs
