<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>AA107G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Oracle Datasource example</description>
    <res-ref-name>jdbc/AA107G5</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.member.controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/Member/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.friend.controller.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/Friend/friend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberImgServlet</servlet-name>
    <servlet-class>com.member.controller.MemberImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberImgServlet</servlet-name>
    <url-pattern>/Member/memImg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>com.manager.controller.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/Manager/mgr.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PointTransactionServlet</servlet-name>
    <servlet-class>com.pointTransaction.controller.PointTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PointTransactionServlet</servlet-name>
    <url-pattern>/backend/buyAgentMgt/pointTransaction.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>PurchasingOrderServlet</servlet-name>
    <servlet-class>com.purchasingOrder.controller.PurchasingOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchasingOrderServlet</servlet-name>
    <url-pattern>/frontend/buyAgent/purchasingOrder.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FrontTripImgReader</servlet-name>
    <servlet-class>com.trip.controller.FrontTripImgReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontTripImgReader</servlet-name>
    <url-pattern>/FrontTripImgReader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackTripImgReader</servlet-name>
    <servlet-class>com.trip.controller.BackTripImgReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackTripImgReader</servlet-name>
    <url-pattern>/BackTripImgReader.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackSpotImgReader</servlet-name>
    <servlet-class>com.spot.controller.BackSpotImgReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackSpotImgReader</servlet-name>
    <url-pattern>/BackSpotImgReader.do</url-pattern>
  </servlet-mapping>
	<servlet>
		<servlet-name>BlogMsgServlet</servlet-name>
		<servlet-class>com.blogMsg.controller.BlogMsgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogMsgServlet</servlet-name>
		<url-pattern>/blogMsg/blogMsg.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ArticleReportServlet</servlet-name>
		<servlet-class>com.articleReport.controller.ArticleReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleReportServlet</servlet-name>
		<url-pattern>/backend/blog/articleReport.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleReportServlet</servlet-name>
		<url-pattern>/articleReport/articleReport.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BlogArticleServlet</servlet-name>
		<servlet-class>com.blogArticle.controller.BlogArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogArticleServlet</servlet-name>
		<url-pattern>/frontend/traveler/blogArticle/blogArticle.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BlogMsgReplyServlet</servlet-name>
		<servlet-class>com.blogMsgReply.controller.BlogMsgReplyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogMsgReplyServlet</servlet-name>
		<url-pattern>/blogMsgReply/blogMsgReply.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BlogMsgReportServlet</servlet-name>
		<servlet-class>com.blogMsgReport.controller.BlogMsgReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogMsgReportServlet</servlet-name>
		<url-pattern>/blogMsgReport/blogMsgReport.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>BlogMsgReportServlet</servlet-name>
		<url-pattern>/backend/blog/blogMsgReport.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChatroomServlet</servlet-name>
		<servlet-class>com.chatroom.controller.ChatroomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatroomServlet</servlet-name>
		<url-pattern>/chatroom/chatroom.do</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>BlogReplyReportServlet</servlet-name>
		<servlet-class>com.blogReplyReport.controller.BlogReplyReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogReplyReportServlet</servlet-name>
		<url-pattern>/blogReplyReport/blogReplyReport.do</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>BlogReplyReportServlet</servlet-name>
		<url-pattern>/backend/blog/blogReplyReport.do</url-pattern>
	</servlet-mapping>	  

	<servlet>
		<servlet-name>PprServlet</servlet-name>
		<servlet-class>com.proprietorArea.controller.PprServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PprServlet</servlet-name>
		<url-pattern>/proprietorArea/ppr.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PprImgServlet</servlet-name>
		<servlet-class>com.proprietorArea.controller.PprImgServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>PprImgServlet</servlet-name>
		<url-pattern>/proprietorArea/pprImg.do</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ScheduleServlet</servlet-name>
		<servlet-class>tools.ScheduleServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleServlet</servlet-name>
		<url-pattern>/ScheduleServlet</url-pattern>
	</servlet-mapping>  
</web-app>